In [11]:
titanic <- read.table('train.csv', sep=",", header = T)

In [12]:
rownames(titanic) <- titanic$PassengerId
titanic$PassengerId <- NULL
titanic$Name <- NULL

In [13]:
str(titanic)

'data.frame':	891 obs. of  10 variables:
 $ Survived: int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass  : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Sex     : Factor w/ 2 levels "female","male": 2 1 1 1 2 2 2 2 1 1 ...
 $ Age     : num  22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp   : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch   : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket  : Factor w/ 681 levels "110152","110413",..: 524 597 670 50 473 276 86 396 345 133 ...
 $ Fare    : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin   : Factor w/ 148 levels "","A10","A14",..: 1 83 1 57 1 1 131 1 1 1 ...
 $ Embarked: Factor w/ 4 levels "","C","Q","S": 4 2 4 4 4 3 4 4 4 2 ...

In [14]:
titanic$Pclass <- factor(titanic$Pclass)
titanic$SibSp <- factor(titanic$SibSp)
titanic$Parch <- factor(titanic$Parch)
titanic$Embarked <- factor(titanic$Embarked)

#The reasons we factored out these numbers was because there are a limited
#number of values class, parents and siblings will take

In [15]:
sum(titanic$Cabin == "")
titanic$Has_Cabin <- factor(titanic$Cabin != "")
#So if cabin is empty we will assign a null, and if cabin is !="" EMPTY string we give a value of 1 to Has_Cabin
#687 people have cabins
titanic$Cabin <- NULL

[1] 687

In [16]:
titanic$Ticket <- NULL

In [17]:
library(caret)
#this imports a useful library for splitting data etc

In [24]:
set.seed(10)
# rnorm(10)
# sets the starting point of the random numbers generated at 10. That way random is reproducible

 [1]  0.01874617 -0.18425254 -1.37133055 -0.59916772  0.29454513  0.38979430
 [7] -1.20807618 -0.36367602 -1.62667268 -0.25647839

In [26]:
train_index <- createDataPartition(titanic$Survived,p=0.8,list=FALSE)
training_data <- titanic[train_index,]
validation_data <- titanic[-train_index,]

In [27]:
prop.table(table(training_data$Survived))
prop.table(table(validation_data$Survived))
# creates contingency tables

        0         1
0.6213184 0.3786816

        0         1
0.5955056 0.4044944

In [ ]:
colSums(is.na(training_data))
colSums(is.na(validation_data))
mean_age <- mean(training_data$Age, na.rm = T)
training_data$Age[is.na(training_data$Age)] <- mean_age
validation_data$Age[is.na(validation_data$Age)] <- mean_age
colSums(is.na(training_data))
colSums(is.na(validation_data))

In [ ]:
str(training_data)

In [ ]:
attach(training_data)

In [ ]:
table(Pclass)
prop.table(table(Pclass, Survived), 1)

In [ ]:
table(Sex)
prop.table(table(Sex, Survived), 1)

In [ ]:
table(SibSp)
prop.table(table(SibSp, Survived), 1)

In [ ]:
table(Parch)
prop.table(table(Parch, Survived), 1)

In [ ]:
table(Embarked)
prop.table(table(Embarked, Survived), 1)